body{
  background-color:#a3c2c2;
  text-align:center;
}


h1{
  color:#153649;
  font-family: 'Vidaloka', serif;
  font-size:3em;
  font-weight:regular 400;
  margin-top: 0;
  text-align: center;
}

h2{
  color:#153649;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: 1em;
  font-weight: regular 400;
  margin-top: 0;
  text-align: center;
}

p{
  color:#293d3d;
  font-family: 'Vidaloka', serif;
  font-size: 0.8em;
  margin-top: 0;
  font-weight: regular 400;
  text-align: center;
}

#container{
  width:95%;
  background-color:#a3c2c2;
  margin:0 auto;
}

#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float:left;
  margin: auto;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display:block;
    color:#d6d6c2;
    background-color: #407290;
    font-weight:bold 700;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#nav a:hover, a:active {
  background-color: #ffb3b3;
}

img {
  border-style: none;
}
