body {
  background-color: #ffffff;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #45577a;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;

    background-color: #ffffff;
    margin: 0;
    padding: 0 10px;
    font-size: 1em;
}

h1{
  color:#45577a;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size:1em;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  padding-top:20px;
}

h2{
  color:#ffffff;
  font-family: 'Vidaloka', serif;
    font-size: 1.1em;
  font-weight: normal;;
  margin-top: 0;
  text-align: center;
}

p{
  color:#0E4563;
  font-family: 'Vidaloka', serif;
  font-size: 0.8em;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

    .aside{
    flex:1 auto;
  }


  .main{
    flex:3 0px;
  }

  .aside-1{
    order:4
  }

  .main{
    order:3
  }

  .footer{
    order:5
  }

  .main{
    display:flex;
    flex-flow:row;
  }
  img{
    width:17em;
    height:12em;
    margin-right:10px;

  }

}

.main, .aside{
  flex:1 100%;
  padding-left:10px;
  padding-right: 10px;
}


.aside-1{
  background:#20304F;
}


.header, .main, .aside, .footer{
  flex:1 100%;
  padding:10px;
}

#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float:left;
  margin: auto;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display:block;
    color:#45577a;
    background-color: #407290;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: 'Vidaloka', serif;
}

#nav a:hover, a:active {
  background-color: #ffffff;
}


img{
  width:100%
  border-style:none;

}

.footer a{
     text-decoration:none;
     font-size:1.1em;
     display: block;
     color:#ffffff;
     text-align:center;
     font-family:'Vidaloka', serif;
     font-weight: normal;
   }

.footer-nav {
     list-style: none;
     margin: 0;
     background:#5F7988;
     padding:0;
     display:flex;
     flex-flow:row;
     justify-content: center;
   }

.footer-nav a{
     text-decoration:none;
     font-size: 1.1em;
     display:block;
     padding:10px 20px;
     color:#45577a;
     text-align:center;
     font-family:'Vidaloka', serif;
     font-weight: bold;
   }

   .footer-nav a:hover{
     background: #5F7988;
   }
